<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerFiles">
    <meta charset="UTF-8">
    <title>Formulario Proovedor</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>
<div class="container">
    <div class="mb-3">
        <h1>Hola esto es el formulario de Proovedor</h1>
    </div>
    <form style="text-align: center;"
          th:action="@{/supplier/create}"
          method="POST">
        <input type="hidden" th:value="${#authentication.name}" name="emailUser">
        <div class="col-3">
            <label for="rut" class="form-label">RUT</label>
            <input type="text" class="form-control"  name="rut" required="required" id="rut">
        </div>
        <div class="col-3">
            <label for="birthday" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control"  name="birthday" required="required" id="birthday">
        </div>
        <div class="col-3">
            <label style="padding-bottom: 7px;">Ciudad</label>
            <select class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    id="city"
                    name="city">
                <option th:each="city: ${cities}"
                        th:value="${city.id}"
                        th:text="${city.name}">
                </option>
            </select>
        </div>
        <div class="col-3">
            <label style="padding-bottom: 7px;">Producto a ofrecer</label>
            <select class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    id="product"
                    name="product">
                <option th:each="product: ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}">
                </option>
            </select>
        </div>
        <div class="col-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control"  name="price" required="required" id="price">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">
                Ofertar :D
                <i class="fas fa-cart-plus"></i>
            </button>
        </div>
    </form>
</div>
</body>
</html>