<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerFiles">
    <meta charset="UTF-8">
    <title>Formulario Proovedor</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>
<div class="container">
    <div class="mb-3">
        <h1>Hola esto es el formulario de Proovedor</h1>
    </div>
    <form style="text-align: center;"
          th:action="@{/supplier/create}"
          method="POST">
        <input type="hidden" th:value="${#authentication.name}" name="emailUser">
        <div class="col-3">
            <label for="rut" class="form-label">RUT</label>
            <input type="text" class="form-control"
                   maxlength="9"
                   onkeypress="allowAlphaNumericSpace(event)"
                   name="rut"
                   required="required"
                   id="rut">
        </div>
        <div class="col-3">
            <label for="birthday" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control"
                   name="birthday"
                   required="required"
                   max='2003-01-01'
                   id="birthday">
        </div>
        <div class="col-3">
            <label style="padding-bottom: 7px;">Ciudad</label>
            <select class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    id="city"
                    name="city">
                <option th:each="city: ${cities}"
                        th:value="${city.id}"
                        th:text="${city.name}">
                </option>
            </select>
        </div>
        <div class="col-3">
            <label style="padding-bottom: 7px;">Producto a ofrecer</label>
            <select class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    id="product"
                    name="product">
                <option th:each="product: ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}">
                </option>
            </select>
        </div>
        <div class="col-3">
            <label for="price" class="form-label">Precio por Kg/Unidad</label>
            <input type="number" class="form-control"
                   name="price"
                   maxlength="8"
                   required="required" id="price">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">
                Ofertar :D
                <i class="fas fa-cart-plus"></i>
            </button>
        </div>
    </form>
</div>
<script >
    function allowAlphaNumericSpace(e) {
        var code = ('charCode' in e) ? e.charCode : e.keyCode;
        if (!(code == 32) && // space
            !(code > 47 && code < 58) && // numeric (0-9)
            !(code > 64 && code < 91) && // upper alpha (A-Z)
            !(code > 96 && code < 123)) { // lower alpha (a-z)
            e.preventDefault();
        }
    }
</script>
</body>
</html>