<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerFiles">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="fragments :: nav" ></header>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Precio</th>
                <th scope="col">Ver</th>
                <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" >Eliminar</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{'/product/details/' + ${product.id}}">
                <button class="btn btn-outline-primary">
                    <i class="far fa-eye"></i>
                </button>
            </a> </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/product/edit/' + ${product.id}}">
                <button class="btn btn-outline-warning">
                    <i class="far fa-edit"></i>
                </button>
            </a> </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/product/delete/' + ${product.id}}">
                <button class="btn btn-outline-danger">
                    <i class="far fa-trash-alt"></i>
                </button>
            </a> </td>
        </tr>
        </tbody>
    </table>
    <a  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/product/new}">
        <button class="btn btn-outline-success btn-lg">
            <i class="fas fa-plus-circle"> New Product</i>
        </button>
    </a>

</div>

</body>
</html>