<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerFiles">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/login}">
                        <i class="fas fa-user"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user/register}">
                        <i class="fas fa-user-plus"></i> Register</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form th:action="@{/user/registerUser}" method="post" sec:authorize="!isAuthenticated()">
                <!-- Prevent csrf attacks -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <!-- END -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control"  name="name" required="required" id="name">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required="required" id="password">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block">
                    <i class="fas fa-user-plus"></i>
                    Crear Cuenta</button>
            </form>
            <p sec:authorize="isAuthenticated()">Ya haz iniciado sesion, y tienes cuenta.</p>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p th:text="${error}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            <a th:href="@{/product/list}" style="text-decoration: none">
                <button class="btn btn-outline-info btn-block">
                    <i class="fas fa-arrow-circle-left"></i>
                    Back
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>