<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerFiles">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header th:insert="fragments :: nav"></header>
<div class="container d-flex justify-content-center">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" ></script>
    <div class="card">

<!--        Login/Register Icons up the form-->
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/login}">
                        <i class="fas fa-user"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user/register}">
                        <i class="fas fa-user-plus"></i> Register</a>
                </li>
            </ul>
        </div>
<!--        End Login/Register Icons-->

        <div class="card-body">
            <form th:action="@{/user/registerUser}" method="post" sec:authorize="!isAuthenticated()">

                <!-- Prevent csrf attacks -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <!-- END -->

                <!-- Form's Fields-->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control"  name="email" required="required" id="email">
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control"  name="firstName" required="required" id="firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control"  name="lastName" required="required" id="lastName">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required="required" id="password">
                </div>
                <div class="mb-3">
                    <label style="padding-bottom: 7px;">Country</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    th:field="*{countries}" id="countryLocation">
                        <option th:each="country: ${countries}"
                        th:value="${country.id}"
                        th:text="${country.name}">
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label style="padding-bottom: 7px;">City</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                            th:field="*{cities}" id="cityLocation">
                        <option th:each="city: ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}">
                        </option>
                    </select>
                </div>
                <!-- END FORM FIELDS-->

                <button type="submit" class="btn btn-outline-success btn-block">
                    <i class="fas fa-user-plus"></i>
                    Crear Cuenta</button>
            </form>
            <p sec:authorize="isAuthenticated()">Ya haz iniciado sesion, y tienes cuenta.</p>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p th:text="${error}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            <a th:href="@{/product/list}" style="text-decoration: none">
                <button class="btn btn-outline-info btn-block">
                    <i class="fas fa-arrow-circle-left"></i>
                    Back
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>